@import '../../sass/vars';

.chatBubble{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: $color-blue;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    border: 2px solid $color-white;
    box-shadow: 0 2px 10px rgba(0,0,0,.4);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}